
<div class="container">
  <div class="sidebar">
    <h2>Menu</h2>
    <ul>
      <li routerLink="/explore">Explore Tours</li>
      <li><a href="#">Book Tour</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Reviews</a></li>
    </ul>
  </div>
  <div class="dashboard-container">
    <div class="navhome">
      <h1>Welcome, {{ user?.username }}!</h1>
    <div class="img">
      <img src={{user?.profilePhoto}} class="profile" alt="">
    </div>
    </div>

    <!-- <img *ngIf="user?.profilePhoto" [src]="user.profilePhoto" alt="{{ user?.username }}'s Profile Photo"> -->
    <div class="bookings">
      <h2>Your Bookings</h2>
      <div class="booking-list">
        <div class="no-bookings">
          <h3>No trips booked...yet!</h3>
          <p>Time to dust off your bags and start planning your next adventure.</p>
          <button routerLink="/explore">Start searching</button>
        </div>
      </div>
    </div>
  </div>
</div>
