body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
}

.sidebar {
  width: 20%;
  background-color: #112C26;
  color: white;
  padding: 20px;
  position: fixed;
  height: 100%;
}

.sidebar h2 {
  color: #43B19A;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.dashboard-container {
  margin-left: 270px;
  padding: 20px;
  background-color: #F0F9F7;
  color: #112C26;
  width: 100%;
  height:100vh;
}

.dashboard-container h1, .dashboard-container h2 {
  color: #43B19A;
}

.bookings, .reviews {
  margin-top: 20px;
}

.booking-list, .review-list {
  display: flex;
  flex-direction: column;
}

.no-bookings, .no-reviews {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.no-bookings h3, .no-reviews h3 {
  color: #43B19A;
  margin-bottom: 15px;
}
.no-bookings p{
  margin-bottom: 15px;
}

.no-bookings button {
  background-color: #43B19A;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.no-bookings button:hover {
  background-color: #36997D;
}
.img{
  width:60px;
  height : 60px;
  border-radius:50%;
  background-color: #43B19A;

}
.profile{
  width:60px;
  height:60px;
  border-radius: 50%;
}
.navhome{

  display:flex;
  justify-content:space-between;
  align-items:center;

}