<div class="admin-dashboard-container">
  <div class="sidebar">
    <h2>Admin Dashboard</h2>
    <ul>
      <li><a href="#manage-tours">Manage Tours</a></li>
      <li><a href="#manage-profile">Manage Profile</a></li>
      <li><a href="#manage-users">Manage Users</a></li>
    </ul>
  </div>

  <div class="main-content">
    <div id="manage-tours" class="manage-tours">
      <h2>Manage Tours</h2>
      <button class="btn add-tour" (click)="toggleAddTourForm()">Add New Tour</button>

      <div *ngIf="showAddTourForm" class="add-tour-form">
        <form (ngSubmit)="addTour()">
          <!-- Add Tour Form Fields Here -->
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>

      <div *ngIf="showUpdateTourForm" class="update-tour-form">
        <form (ngSubmit)="saveUpdatedTour()">
          <!-- Update Tour Form Fields Here -->
          <button type="submit" class="btn">Save Changes</button>
        </form>
      </div>

      <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

      <div class="tour-list">
        <h3>Existing Tours</h3>
        <div class="tours">
          <div *ngFor="let tour of tours" class="card">
            <h3>{{ tour.title }}</h3>
            <img [src]="tour.image" class="image" alt="">
            <p>{{ tour.description }}</p>
            <p>{{ tour.destination }}</p>
            <h6>{{ tour.duration }} days</h6>
            <h4>${{ tour.price }}</h4>
            <p>{{ tour.tourType }}</p>
            <div class="dates">
              <p>{{ tour.startDate }} to </p>
              <p>{{ tour.endDate }}</p>
            </div>
            <p>Max: {{ tour.maxParticipants }}</p>
            <p>Available: {{ tour.availableSlots }}</p>
            <button (click)="confirmDeleteTour(tour.id)" class="btn delete-tour">Delete</button>
            <button (click)="editTour(tour)" class="btn update-tour">Update</button>
          </div>
        </div>
      </div>
    </div>

    <div id="manage-profile" class="manage-profile">
      <h2>Manage Profile</h2>
    </div>

    <div id="manage-users" class="manage-users">
      <h2>Manage Users</h2>
      <div class="user-list">
      </div>
    </div>
  </div>
</div>
