<div class="explore-tour-container">
  <h1>Explore Tours</h1>
  <input type="text" [(ngModel)]="searchType" (input)="filterTours()" placeholder="Search by tour type..." class="search-bar">
  
  <div *ngIf="filteredTours.length > 0" class="tour-list">
    <div *ngFor="let tour of filteredTours" class="tour-item" (click)="openBookingModal(tour)">
      <h2>{{ tour.title }}</h2>
      <img [src]="tour.image" class="image" alt="">
      <p>Type: {{ tour.tourType }}</p>
      <p>Price: {{ tour.price | currency }}</p>
    </div>
  </div>
  <div *ngIf="filteredTours.length === 0" class="no-tours">
    <p>No tours available for the selected type.</p>
  </div>

  <!-- Custom Modal -->
  <div *ngIf="showModal" class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Book Tour</h4>
        <button type="button" class="close" (click)="closeBookingModal()">&times;</button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to book the tour: {{ selectedTour?.title }}?</p>
        <form (ngSubmit)="bookTour()">
          <!-- You can add more form fields here if needed -->
          <button type="submit" class="btn btn-primary">Book</button>
          <button type="button" class="btn btn-secondary" (click)="closeBookingModal()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
