body {
    font-family: Arial, sans-serif;
    background-color: #F0F9F7;
    color: #112C26;
    margin: 0;
    padding: 0;
}

.explore-tour-container {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #43B19A;
    text-align: center;
    margin-bottom: 20px;
}

.search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.tour-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tour-item {
    flex: 1 1 calc(33.333% - 20px);
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 150px;

}

.tour-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.tour-item h2 {
    margin-top: 0;
    color: #43B19A;
}

.tour-item p {
    margin: 5px 0;
}

.no-tours {
    text-align: center;
    font-size: 18px;
    color: #999999;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    background-color: #43B19A;
    color: #ffffff;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding: 20px;
    font-size: 16px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    border-top: 1px solid #ccc;
}

.btn {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #43B19A;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #cccccc;
}

.btn-secondary:hover {
    background-color: #bbbbbb;
}

.btn-primary:hover {
    background-color: #379e89;
}

.close {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.close:hover {
    color: #dddddd;
}
.image{
    width:100%;
}
